@model Electronicos_MVC.Models.Productos

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Detalles del Producto</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>@Html.DisplayNameFor(model => model.Nombre_Producto)</dt>
        <dd>@Html.DisplayFor(model => model.Nombre_Producto)</dd>

        <dt>@Html.DisplayNameFor(model => model.Existencia)</dt>
        <dd>@Html.DisplayFor(model => model.Existencia)</dd>

        <dt>@Html.DisplayNameFor(model => model.Descripcion)</dt>
        <dd>@Html.DisplayFor(model => model.Descripcion)</dd>

        <dt>@Html.DisplayNameFor(model => model.Precio)</dt>
        <dd>@Html.DisplayFor(model => model.Precio)</dd>

        <dt>@Html.DisplayNameFor(model => model.URL_Imagen)</dt>
        <dd>@Html.DisplayFor(model => model.URL_Imagen)</dd>

        <dt>@Html.DisplayNameFor(model => model.Procesador)</dt>
        <dd>@Html.DisplayFor(model => model.Procesador)</dd>

        <dt>@Html.DisplayNameFor(model => model.RAM)</dt>
        <dd>@Html.DisplayFor(model => model.RAM)</dd>

        <dt>@Html.DisplayNameFor(model => model.DiscoDuro)</dt>
        <dd>@Html.DisplayFor(model => model.DiscoDuro)</dd>

        <dt>@Html.DisplayNameFor(model => model.Categorias.Nombre_Categoria)</dt>
        <dd>@Html.DisplayFor(model => model.Categorias.Nombre_Categoria)</dd>

        <dt>@Html.DisplayNameFor(model => model.Marcas.Nombre_Marca)</dt>
        <dd>@Html.DisplayFor(model => model.Marcas.Nombre_Marca)</dd>
    </dl>
</div>

<!-- Acción de edición y retorno a la lista -->
<p>
    <a href="@Url.Action("Edit", new { id = Model.ID_Producto })" class="btn btn-primary">Editar</a> |
    <a href="@Url.Action("Index")" class="btn btn-secondary">Volver a la Lista</a>
</p>
