@model IEnumerable<Electronicos_MVC.Models.ProductoSucursales>

@{
    ViewBag.Title = "Existencias en Sucursales";
}

<h2 class="mb-4">Existencias en Sucursales</h2>

<p>
    @Html.ActionLink("Crear Nueva Existencia", "Create", null, new { @class = "btn btn-primary mb-3" })
</p>

<table class="table table-striped table-hover table-bordered">
    <thead class="thead-dark">
        <tr>
            <th>@Html.DisplayNameFor(model => model.Existencia)</th>
            <th>@Html.DisplayNameFor(model => model.Productos.Nombre_Producto)</th>
            <th>@Html.DisplayNameFor(model => model.Sucursales.Nombre_Sucursal)</th>
            <th>Acciones</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>@Html.DisplayFor(modelItem => item.Existencia)</td>
                <td>@Html.DisplayFor(modelItem => item.Productos.Nombre_Producto)</td>
                <td>@Html.DisplayFor(modelItem => item.Sucursales.Nombre_Sucursal)</td>
                <td>
                    <a href="@Url.Action("Edit", new { id = item.ID_Existencia_Sucursal })" class="btn btn-sm btn-warning">Editar</a>
                    <a href="@Url.Action("Details", new { id = item.ID_Existencia_Sucursal })" class="btn btn-sm btn-info">Detalles</a>
                    <a href="@Url.Action("Delete", new { id = item.ID_Existencia_Sucursal })" class="btn btn-sm btn-danger">Eliminar</a>
                </td>
            </tr>
        }
    </tbody>
</table>
