@model Electronicos_MVC.Models.Categorias

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div class="container mt-4">
    <h4 class="text-center mb-4">Detalles de la Categoría</h4>
    <hr />

    <dl class="row">
        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Nombre_Categoria)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Nombre_Categoria)
        </dd>

        <dt class="col-sm-3">
            @Html.DisplayNameFor(model => model.Existencia_Total)
        </dt>
        <dd class="col-sm-9">
            @Html.DisplayFor(model => model.Existencia_Total)
        </dd>
    </dl>

    <div class="text-center">
        <p>
            @Html.ActionLink("Editar", "Edit", new { id = Model.ID_Categoria }, new { @class = "btn btn-primary btn-lg" }) |
            @Html.ActionLink("Volver a la lista", "Index", null, new { @class = "btn btn-secondary btn-lg" })
        </p>
    </div>
</div>
