@model IEnumerable<Electronicos_MVC.Models.Ventas>

@{
        ViewBag.Title = "Index";
    }

    <h2>Index</h2>

    <p>
        @Html.ActionLink("Nueva Venta", "Create", null, new {@class = "btn btn-primary"})
    </p>
    <table class="table table-striped table-hover table-bordered">
        <thead class="thead-dark">
            <tr>
                <th>@Html.DisplayNameFor(model => model.Ganancia)</th>
                <th>@Html.DisplayNameFor(model => model.Fecha_Venta)</th>
                <th>@Html.DisplayNameFor(model => model.Cantidad)</th>
                <th>@Html.DisplayNameFor(model => model.Productos.Nombre_Producto)</th>
                <th>@Html.DisplayNameFor(model => model.Sucursales.Nombre_Sucursal)</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@Html.DisplayFor(modelItem => item.Ganancia)</td>
                    <td>@Html.DisplayFor(modelItem => item.Fecha_Venta)</td>
                    <td>@Html.DisplayFor(modelItem => item.Cantidad)</td>
                    <td>@Html.DisplayFor(modelItem => item.Productos.Nombre_Producto)</td>
                    <td>@Html.DisplayFor(modelItem => item.Sucursales.Nombre_Sucursal)</td>
                    <td>
                        <a href="@Url.Action("Edit", new { id = item.ID_Venta })" class="btn btn-sm btn-warning">Editar</a>
                        <a href="@Url.Action("Details", new { id = item.ID_Venta })" class="btn btn-sm btn-info">Detalles</a>
                        <a href="@Url.Action("Delete", new { id = item.ID_Venta })" class="btn btn-sm btn-danger">Eliminar</a>
                    </td>
                </tr>
            }
        </tbody>
    </table>

<!--<h1>@ViewBag.Titulo</h1>
<h3>@ViewBag.Subtitulo</h3>

<div class="row">
    <div class="col-md-2" style="text-align: right;">
        <a href="~/Ventas/Create" class="btn btn-primary">Nueva Venta</a>
    </div>
</div>



<div class="container mt-5">
    <div class="row">-->
        <!-- Card 1 -->
        <!--@foreach (var venta in Model)
        {
            <div class="col-md-4">
                <div class="card shadow-sm">
                    <img src="https://via.placeholder.com/350x200" class="card-img-top" alt="Card Image">
                    <div class="card-body">
                        <h2 class="card-title">venta # @venta.ID_Venta</h2>
                        <h5 class="card-title">@venta.Ganancia</h5>
                        <p class="card-text">@venta.Fecha_Venta </p>
                        <a href="~/Ventas/Edit/@venta.ID_Venta" class="btn btn-warning">Editar</a>
                    </div>
                </div>
            </div>
        }
    </div>
</div>-->